#delbutton{
    /* margin-left: 100px; */
    float: right;
}

.table-row{
    background-image: url("../pictures/background1.png");
    width: 150%;

}

.cartImage{
    margin-left: 40px;
    margin-top: 15px;
}

.smallTable{
    width: 95%;
}

#qtyID{
    width: 50%;
}


.tr {
    border-radius: 10px;
}

.totPriceLbl{
    width: 84%;
    padding-left: 409px;
    font-weight: 700;
    font-weight: bold;
}

.totPriceVal{
    width: 100%;
    padding-left: 10px;
    font-weight: bold;
}

.CartTitle{
    text-align: center;
    font-weight: bold;
}

.fashionstoreImg{
    width: 125%;
    height: 70%;
}

.large-table{
    width: 64%
}

.boldLbl{
    font-weight: bold;
}

#cartContent{
    margin-left: 15%;
}