#cashOnDeliveryHeading{
	text-align:center;
}
#cashOnDeliveryBody{
	margin-left:20%;
	margin-right:20%;
}
#cashOnDeliveryForm{
	width:50%;
}

#agreeTerms{
	margin-left: 20px;
}

.price{
	margin-right: 10px;
	font-size: 22px;
	font-weight: bold;
}

#customSubmitButton{
	float: right;
}


#colprice{
	text-align: right;
}


.tableleft{
	width: 30%;
}
.tableright{
	width: 70%;
}