.bdy{
    /* background-image: url("https://i.pinimg.com/originals/c1/be/93/c1be93bb15c175b027ec262c93e0cbd7.jpg"); */
    /* background-image: url("http://www.baltana.com/files/wallpapers-5/White-Background-High-Definition-Wallpaper-16573.jpg"); */
    background-image: url("../pictures/wall.jpg");
}

a.naviButCust.naviButton.nav-item.nav-link {
    padding-right: 20px;
    padding-top: 35px;
}

.navigationBarCustom{
    min-height: 100px;
    padding-right: 2.5rem ;
}

.customButtonsInNavBar{
    padding: 20px;
}

.naviButton{
    font-size: 20px;
}


.navbarA{
    background-color: #8A2BE2 !important;
}


.logoImg{
    float: left;
}

.cus1{
    padding-top: 40px;
}

.cartUser{
    padding-left: 50px;
    padding-top: 40px;
}